# **Loading the dataset**

In [82]:
import pandas as pd 
import numpy as np
import time

In [83]:
df = pd.read_csv('Retail-data.csv')

In [84]:
# converting the time object into separate columns 

df['hour'] = pd.to_datetime(df['hour'])
df['year'] = df['hour'].dt.year
df['month'] = df['hour'].dt.month
df['week'] = df['hour'].dt.week
df['day'] = df['hour'].dt.day
df['name'] = df['hour'].dt.weekday

C:\Users\mira\AppData\Local\Temp\ipykernel_8060\833428635.py:6: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['week'] = df['hour'].dt.week

In [85]:
df.dtypes

hour                      datetime64[ns]
order_id                         float64
customer_id                      float64
product_id                       float64
product_price                    float64
variant_id                       float64
orders                             int64
gross_sales                      float64
discounts                        float64
returns                          float64
net_sales                        float64
shipping                         float64
taxes                            float64
total_sales                      float64
ordered_item_quantity              int64
net_quantity                       int64
returned_item_quantity             int64
order_name                        object
product_type                      object
product_title                     object
product_vendor                    object
variant_title                     object
api_client_title                  object
year                               int64
month                              int64
week                               int64
day                                int64
name                               int64
dtype: object

In [86]:
df.isnull().sum()

hour                          0
order_id                      0
customer_id                   0
product_id                    0
product_price                 0
variant_id                    0
orders                        0
gross_sales                   0
discounts                     0
returns                       0
net_sales                     0
shipping                      0
taxes                         0
total_sales                   0
ordered_item_quantity         0
net_quantity                  0
returned_item_quantity        0
order_name                 5961
product_type              22861
product_title              6483
product_vendor            22366
variant_title             31316
api_client_title           5961
year                          0
month                         0
week                          0
day                           0
name                          0
dtype: int64

## Simple Imputer

In [87]:
from sklearn.impute import SimpleImputer
#
# Missing values is represented using NaN and hence specified. If it
# is empty field, missing values will be specified as ''
#
imputer = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')

### Dealing with Categorical Values

In [88]:
start_time = time.time()
df['order_name']= imputer.fit_transform(df['order_name'].values.reshape(-1,1))[:,0]
df['product_type']= imputer.fit_transform(df['product_type'].values.reshape(-1,1))[:,0]
df['product_title']= imputer.fit_transform(df['product_title'].values.reshape(-1,1))[:,0]

df['product_vendor']= imputer.fit_transform(df['product_vendor'].values.reshape(-1,1))[:,0]
df['variant_title']= imputer.fit_transform(df['variant_title'].values.reshape(-1,1))[:,0]
df['api_client_title']= imputer.fit_transform(df['api_client_title'].values.reshape(-1,1))[:,0]

print("--- %s seconds ---" % (time.time() - start_time))

--- 0.1436161994934082 seconds ---

In [89]:
df.isnull().sum()

hour                      0
order_id                  0
customer_id               0
product_id                0
product_price             0
variant_id                0
orders                    0
gross_sales               0
discounts                 0
returns                   0
net_sales                 0
shipping                  0
taxes                     0
total_sales               0
ordered_item_quantity     0
net_quantity              0
returned_item_quantity    0
order_name                0
product_type              0
product_title             0
product_vendor            0
variant_title             0
api_client_title          0
year                      0
month                     0
week                      0
day                       0
name                      0
dtype: int64

In [90]:
df.isnull().sum()

hour                      0
order_id                  0
customer_id               0
product_id                0
product_price             0
variant_id                0
orders                    0
gross_sales               0
discounts                 0
returns                   0
net_sales                 0
shipping                  0
taxes                     0
total_sales               0
ordered_item_quantity     0
net_quantity              0
returned_item_quantity    0
order_name                0
product_type              0
product_title             0
product_vendor            0
variant_title             0
api_client_title          0
year                      0
month                     0
week                      0
day                       0
name                      0
dtype: int64

### Dealing with numeric variables with mean values

In [91]:
imputer_num_mean = SimpleImputer(missing_values=np.NaN, strategy='mean')

In [92]:
start_time = time.time()

df['order_id']=imputer_num_mean.fit_transform(df[['order_id']])
#df['hour']=imputer_num_mean.fit_transform(df[['hour']])
df['customer_id']=imputer_num_mean.fit_transform(df[['customer_id']])
df['product_id']=imputer_num_mean.fit_transform(df[['product_id']])
df['product_price']=imputer_num_mean.fit_transform(df[['product_price']])
df['variant_id']=imputer_num_mean.fit_transform(df[['variant_id']])
df['gross_sales']=imputer_num_mean.fit_transform(df[['gross_sales']])
df['discounts']=imputer_num_mean.fit_transform(df[['discounts']])
df['returns']=imputer_num_mean.fit_transform(df[['returns']])
df['net_sales']=imputer_num_mean.fit_transform(df[['net_sales']])
df['shipping']=imputer_num_mean.fit_transform(df[['shipping']])
df['taxes']=imputer_num_mean.fit_transform(df[['taxes']])
df['total_sales']=imputer_num_mean.fit_transform(df[['total_sales']])
df['ordered_item_quantity']=imputer_num_mean.fit_transform(df[['ordered_item_quantity']])
df['net_quantity']=imputer_num_mean.fit_transform(df[['net_quantity']])
df['returned_item_quantity']=imputer_num_mean.fit_transform(df[['returned_item_quantity']])

print("--- %s seconds ---" % (time.time() - start_time))

--- 0.31615281105041504 seconds ---

# MICE Iterative Imputer

In [109]:
df1 = pd.read_csv('Retail-data.csv')

In [117]:
df1.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
order_id,101929.0,4.166395e+12,1.084800e+12,0.00,4.013270e+12,4.580600e+12,4.677140e+12,4.766070e+12
customer_id,101929.0,4.646366e+12,1.895350e+12,0.00,5.269060e+12,5.283720e+12,5.380540e+12,6.229830e+12
product_id,101929.0,5.164254e+12,2.765212e+12,0.00,5.908390e+12,6.659360e+12,6.747460e+12,7.706230e+12
product_price,101929.0,3.029806e+00,3.000681e+00,0.00,1.350000e+00,2.390000e+00,3.790000e+00,1.290000e+02
variant_id,101929.0,3.107043e+13,1.654758e+13,0.00,3.696630e+13,3.994250e+13,4.017080e+13,4.304960e+13
orders,101929.0,9.349253e-01,2.466588e-01,0.00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
gross_sales,101929.0,6.113423e+00,6.179441e+00,0.00,2.800000e+00,4.720000e+00,7.320000e+00,2.132200e+02
discounts,101929.0,-1.589695e-01,9.943808e-01,-69.50,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
returns,101929.0,-1.939880e-02,6.742853e-01,-90.06,0.000000e+00,0.000000e+00,0.000000e+00,3.132000e+01
net_sales,101929.0,5.935055e+00,6.052408e+00,-90.06,2.740000e+00,4.560000e+00,7.300000e+00,2.132200e+02
shipping,101929.0,4.022212e-03,2.187398e-01,-11.48,0.000000e+00,0.000000e+00,0.000000e+00,1.148000e+01
taxes,101929.0,5.300688e-01,7.011460e-01,-18.92,1.600000e-01,3.800000e-01,6.600000e-01,4.478000e+01
total_sales,101929.0,6.469145e+00,6.655866e+00,-108.98,2.980000e+00,4.980000e+00,7.960000e+00,2.580000e+02
ordered_item_quantity,101929.0,1.080939e+00,6.209893e-01,0.00,1.000000e+00,1.000000e+00,1.000000e+00,2.400000e+01
net_quantity,101929.0,1.078486e+00,6.264933e-01,-7.00,1.000000e+00,1.000000e+00,1.000000e+00,2.400000e+01
returned_item_quantity,101929.0,-2.452688e-03,5.921374e-02,-7.00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [110]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression

In [111]:
start_time = time.time()

In [112]:
lr = LinearRegression()

In [113]:
imp = IterativeImputer(estimator=lr, verbose=2, max_iter=10, tol= 1e-10, imputation_order='roman')

In [115]:
imp.fit_transform(df1.drop(['hour', 'order_name',
                          'product_type', 'product_title',
                          'product_vendor', 'variant_title',
                          'variant_title','api_client_title'] ,axis=1))

[IterativeImputer] Completing matrix with shape (101929, 16)
[IterativeImputer] Ending imputation round 1/10, elapsed time 1.49
[IterativeImputer] Change: 0.0, scaled tolerance: 4304.96
[IterativeImputer] Early stopping criterion reached.

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [116]:
print("--- %s seconds ---" % (time.time() - start_time))

--- 85.88836240768433 seconds ---